name = "ernisto/git"
version = "0.1.0-alpha.8"
description = "library for reading git objects (heavy wip)"
authors = ["ernisto <joaovitordesouza707@gmail.com>"]
repository = "https://github.com/ernisto/git"
license = "MIT"

includes = [
    "src/**/*.luau",
    "pesde.toml",
    "README.md",
    "LICENSE",
    ".luaurc",
]

[target]
environment = "lune"
build_files = ["src"]
lib = "src/init.luau"

[dependencies]
future = { name = "lukadev_0/future", version = "^1.0.1", target = "lune" }

[dev_dependencies]
luau_lsp = { name = "pesde/luau_lsp", version = "^1.39.0", target = "lune" }
stylua = { name = "pesde/stylua", version = "^2.0.2", target = "lune" }

[indices]
default = "https://github.com/pesde-pkg/index"
